* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
}
.logo p {
  color: green;
}
.logo img {
  height: 29px;
}
.logo h5 {
  color: rgb(245, 167, 22);
}
.lists ul {
  display: flex;
  margin: 20px;
}
.lists ul li a {
  color: black;
}
.headerIcon img {
  height: 12px;
}
.rightSideHeader {
  display: flex;
  margin: 20px;
  background-color: blue;
}
