* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 35px;
  background-color: rgb(217, 212, 202);
}
.header {
  display: flex;
  padding: 10px;
  margin-right: 2px;
}
.logo {
  margin: 9px;
}
.logoInformation {
  display: flex;
}

.logoInformation p {
  color: green;
}
.logo img {
  height: 29px;
  margin-left: 30px;
}
.todo p {
  color: rgb(245, 167, 22);
}
.lists ul {
  display: flex;
  list-style: none;
  padding: 5px;
  margin: 15px;
  margin-right: 100px;
  margin-left: 100px;
}
.lists ul li a {
  color: black;
}
.headerIcon img {
  height: 25px;
}
.rightSideHeader {
  display: flex;
  margin: 10px;
  padding: 10px;
  margin-left: 200px;
}
.lists ul li {
  margin: 19px;
}
.headerIcon {
  margin: 2px;
}
.signupbuton {
  margin-left: 20px;
}
.signupbuton button {
  padding: 7px;
  background-color: black;
  color: white;
}
.informationImage {
  display: flex;
  color: rgb(247, 116, 203);
  background-color: rgb(253, 232, 235);
  margin-right: 70%;
}
.informationImage img {
  height: 20px;
  width: 15px;
}
.green {
  color: green;
}
.information {
  display: flex;
}
.informationSide p {
  margin-top: 10px;
}
