* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 35px;
  background-color: rgb(217, 212, 202);
}
.header {
  display: flex;
  background-color: white;
}
.logo {
  margin: 20px;
}
.logo p {
  color: green;
}
.logo img {
  height: 29px;
}
.logo h5 {
  color: rgb(245, 167, 22);
}
.lists ul {
  display: flex;
  list-style: none;
  background-color: blue;
  padding: 18px;
  margin: 19px;
  margin-right: 100px;
  margin-left: 100px;
}
.lists ul li a {
  color: black;
}
.headerIcon img {
  height: 25px;
}
.rightSideHeader {
  display: flex;
  margin: 30px;
  background-color: blue;
  padding: 20px;
  margin-left: 200px;
}
.lists ul li {
  margin: 20px;
}
.headerIcon {
  margin: 2px;
}
.signupbuton {
  margin-left: 20px;
}
.signupbuton button {
  padding: 5px;
  background-color: black;
  color: white;
}
